body{
	margin: 0;
	padding: 0;
}
.weather-card {
	background-color: #80EAE8;
	padding: .5em;
}

	.weather-card__header {
		margin: 0;
	}

	.weather-card__date {
		font-weight: normal;
		font-size: 12px;
		font-family: courier;
		margin: 0;
		border-bottom: 1px solid #D380EA;
	}

	.weather-card__footer {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}