main {
	display: table;
	caption-side: top;
}

	header {
		display: table-caption;
	}

	section {
		display: table-row;
		background-color: maroon;
		width: 80%;
	}

	aside {
		display: table-cell;
		background-color: peru;
		width: 20%;
	}