{% extends 'base.html' %}

{% block content %}
<div class="pure-g" style"...">
	<div class="pure-u-1">
		<h2>Features</h2>
	</div>
	<div class="pure-u-2">
		<ul>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
		</ul>
	</div>
	<div class="pure-u-2">
		<ul>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
			<li>Lorem nimsum blablabla</li>
		</ul>
	</div>
</div>
{% endblock content %}