<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<!-- Linea para comenzar con Responsive Design -->
		<meta name="viewport" content="width=device-width, inicial-scale=1, maximum-scale=1" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
		<title>Portafolio.la</title>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
		<header id="yo" class="Header">
			<nav class="MainMenu">
				<ul class="MainMenu-list">

					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#yo">Yo</a>
					</li>
					
					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#perfil">Perfil</a>
					</li>

					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#trabajo">Trabajo</a>
					</li>

					<li class="MainMenu-item">
						<a class="MainMenu-link" href="#contacto">Contacto</a>
					</li>

				</ul>
			</nav>
			
			<!--<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p>-->

			<figure class="Header-imageContainer">
				<img src="../static/img/avatar.jpg" alt="Imagen personal" class="Header-image"/>
				<figcaption class="Header-imageDescription">
					<a class="Header-link" href="http://twitter.com/sholo/" target="_black">@Sholo</a>
				</figcaption>
			</figure>
			
			<p class="Header-name">Juan Flores</p>

		</header>

		<section id="perfil" class="Profile">
			<div class="u-containerDefault">
				<h2 class="Profile-title u-title">Mi Perfil</h2>
				<p class="Profile-description">
					<strong>Hola!</strong>, si <span class="Profile-span">llegaste</span> hasta aqui puedes ver mi portafolio y <em>contactarme</em> .
				</p>

				<a class="Profile-link" href="http://facebook.com/sholo/" target="_black">@Sholo</a>
				<a class="Profile-link" href="http://googleplus.com/sholo/" target="_black">@Sholo</a>
				<a class="Profile-link" href="http://twitter.com/sholo/" target="_black">@Sholo</a>
				<a class="Profile-link" href="http://github.com/sholo/" target="_black">@Sholo</a>
			</div>
		</section>
		
		<section id="trabajo" class="Work">
			<div class="u-containerDefault">
				<h2 class="Work-title u-title">Mi Trabajo</h2>
			</div>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/thumb1.jpg" alt="Esto es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>

			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/thumb2.jpg" alt="Esto es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>

			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/thumb3.jpg" alt="Esto es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>

			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/thumb1.jpg" alt="Esto es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>

			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/thumb2.jpg" alt="Esto es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>

			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/img/thumb3.jpg" alt="Esto es la descripcion de mi imagen">
					<figcaption class="Work-description">Website de mejorandola</figcaption>
				</figure>
			</article>
		</section>
		
		<footer id="contacto" class="Footer">
			<div class="Footer-left">
				<h3 class="Footer-title">Contacto</h3>
				<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario</p>
			</div>

			<form class="Footer-form">
				<input class="Footer-formInput" type="text" placeholder="Nombre" />
				<input class="Footer-formInput" type="email" placeholder="Email" />
				<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
				<button class="Footer-button" type="submit">Contactarme</button>
			</form>
		
		</footer>
	
	</body>
</html>
